<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Detalle de Tarea</title>
</head>
<body>
    <div class="container">
        <div class="titulo">
            <h1>Detalle de Tarea</h1>
        </div>
        <div class="tarea">
            <h2>Nombre de la Tarea: Tarea de ejemplo</h2>
            <p>Fecha de Creación: 2023-09-06</p>
            <p>Fecha Límite: 2023-09-10</p>
            <p>Estado: <span class="completada">Completada</span></p>
        </div>
    </div>
</body>
</html>
